<!DOCTYPE html>
<html>
<head>
  <title>AjoRegister</title>
  <%= stylesheet_link_tag    "ajo_register/application", :media => "all" %>
  <%= javascript_include_tag "ajo_register/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
